<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lenovo.skystore">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 扫码 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/tiankonggouwucheng"
        android:supportsRtl="true"
        android:theme="@style/Theme.Main">
        <activity android:name=".view.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.lenovo.skysore.view.activity.RqccodeActivity"
            android:label="@string/title_activity_rqccode"
            />
        <activity android:name=".view.activity.RqccodeActivity" />
        <activity android:name=".view.activity.SeekActivity" />
        <activity android:name=".view.activity.DetailsActivity" />
        <activity android:name=".view.activity.ParticularActivity" />
    </application>

</manifest>